<nav class="navbar navbar-default">
  <div class="container-fluid" id="nav-container">
		<button type="button" class="navbar-toggle collapsed fade-button" data-toggle="collapse" data-target="#scbt-nav">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<div class="collapse navbar-collapse" id="scbt-nav">
		  	<ul class="nav navbar-nav">
			    <li>
			    	<a href="#home">Home</a>
			    </li>
			    <li>
			    	<a href="#about-us">About Us</a>
			    	<!-- <div class="dropdown">
			    		<a href="#about-us/why-stanford">Why Stanford</a>
			    		<a href="#about-us/canadore-at-stanford">Canadore at Stanford</a>
			    	</div> -->
			    </li>
			    
			    <li>
			    	<a href="#admissions">Admissions</a>
			    	<!-- <div class="dropdown">
			    		<a href="#admissions/requirements">Requirements</a>
			    	</div> -->
			    </li>
			    
			    <li>
			    	<a href="#">Programs</a>
			    	<!-- <div class="dropdown">
			    		<a href="#">Trades</a>
			    		<a href="#">Business</a>
			    		<a href="#">Technology</a>
			    	</div> -->
			    </li>

			    <li>
			    	<a href="#student-services">Student Services</a>
			    </li>

			    <li>
			    	<a href="#contact-us">Contact Us</a>
			    </li>
			</ul>
		</div>
	</div>
</nav>
